@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color: #000;
    background: #fff;
  }
}

@layer components {
  .link-underline {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-size: 0% 1px;
    background-repeat: no-repeat;
    padding-bottom: 3px;
    transition: background-size 350ms cubic-bezier(0.16, 1, 0.3, 1);
    text-decoration: none;
  }

  .link-underline:hover {
    background-size: 100% 1px;
  }

  .draw-underline {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    padding-bottom: 4px;
    transition: background-size 600ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  .draw-underline:hover {
    background-size: 100% 2px;
  }
}
